{% extends "layout.html" %}
{% block content %}
<h2>List of Artists Who Released Music in 2009-10:</h2>
<table border = "1">
    <tr>
        <th>Name</th>
        <th>Song Count in DB</th>
        <th>MusicBrainz Link</th>
    </tr>
    {% for artist in artist_names %}
    <tr>
        <td><a href = {{ url_for('artist_details', id=(artist["artist_id"])) }}>{{ artist["artist_name"] }}</a></td>
        <td align="center">{{ artlist[artist["artist_name"]] }}</td>
        <td align="center"><a href = 'https://musicbrainz.org/artist/{{ artist["artist_mbid"] }}' title = 'Link to {{ artist["artist_name"] }}&#39s MusicBrainz Page'>MB</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}