{% extends "layout.html" %}
{% block content %}
<p align="center">
    Total Count in Database
    <br>
    Artists: {{ artist_count }} | Tracks: {{ tracks_count }}
    <br>
    Average track titles recorded in the database for each artist: {{ average }}
    <br>
    <a href= {{ url_for('artist_details', id = artists[0]["artist_id"]) }}><input type="submit" value="I'm Feeling Lucky"></a>
    <a target="_blank" href = 'https://www.youtube.com/results?search_query={{ tracks[0]["track_name"] + " " + tracks[0]["artist_name"] }}' title=' on YouTube'><input type="submit" value="Tracks"></a>
</p>
{% endblock content %}