<html>
    <head>
        {% if title %}
        <title>{{ title }} - LOLlingStone</title>
        {% else %}
        <title>LOLlingStone</title>
        {% endif %}
    </head>
    <body>
        <a href={{ url_for('home') }} title="Go to LOLlingStone's Homepage">Home</a> |
        <a href={{ url_for('artists') }} title="Artists List"> Artists</a> |
        <a href={{ url_for('tracks') }} title="Tracks List"> Tracks</a> |
        <a href={{ url_for('search') }} title="Search">Search</a> |
        <br>
        <h1 title="Not your #1 source for the latest music news">LOLlingStone - Music Database<sup>*</sup></h1>
        <marquee behavior="alternate"><h6><sup>*</sup>disclaimer: not associated with rollingstone.com in any way whatsoever</h6></marquee>
        {% block content %}{% endblock content %}
        <br>
        <p style=" position: relative; bottom: 0; left: 0; width: 100%; text-align: center;">
            2022 &copy; <a href = "https://github.com/topherlee" target="_blank">Christopher Lee</a>. Special thanks to <a href="http://millionsongdataset.com" target="_blank">Million Song Dataset</a> for the open source dataset used in this website.
        </p>	
    </body>
</html>